@font-face {
    font-family: comicsans;
    src: url(../font/Comic_Sans.woff2);
}

@font-face {
    font-family: happy;
    src: url(../font/HappyMarker.woff2);
}


/*@font-face {
  font-family: barnabey;
  src: url(../font/BARNABEY.woff2);
}
@font-face {
  font-family: cevicheone;
  src: url(../font/CevicheOne-Regular.woff2);
}
@font-face {
  font-family: thorn;
  src: url(../font/Thorn_Valley.woff2);
}
@font-face {
  font-family: bubble;
  src: url(../font/Bubblewump.woff2);
}
@font-face {
     src: url(../font/HelveticaNeueETPro45Light.woff2);
  font-family: hn;
}
@font-face {
     src: url(../font/HelveticaNeueHv.woff2);
  font-family: hnh;
}
@font-face {
     src: url(../font/HelveticaNeueIt.woff2);
  font-family: hni;
}
@font-face {
     src: url(../font/HelveticaNeueUltraLightv130.woff2);
  font-family: hnu;
}
@font-face {
     src: url(../font/Roboto-Light.woff2);
  font-family: rl;
}
@font-face {
     src: url(../font/Roboto-Medium.woff2);
  font-family: rm;
}
@font-face {
     src: url(../font/Roboto-Regular.woff2);
  font-family: rr;
}
@font-face {
     src: url(../font/verdana.woff2);
  font-family: ver;
}
@font-face {
     src: url(../font/FuturaBookfont.woff2);
  font-family: fb;
}
@font-face {
     src: url(../font/futuralightbt.woff2);
  font-family: fl;
}
@font-face {
     src: url(../font/futuramediumbt.woff2);
  font-family: fm;
}*/
/*@font-face {
     src: url(../font/H);
  font-family: ;
}*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    /*font-family: sans-serif , tahoma;*/
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    /* Prevent selecting ui text when dragging */
    font-family: comicsans;
}

body {

    /* Prevent pull-down-to-refresh gesture */
    /*overscroll-behavior-y: contain;*/
    /*background: white;*/
    direction: ltr;
    /*color: white;*/
    /* Prevent iOS rubber-band effect */
    /*position: fixed;*/
    /*width: 100%;*/
    /* Prevent browser from handling touch events */
    /*touch-action: none;*/
}

a {
    text-decoration: none;
    color: lightgray;
}

del {
    text-decoration-line: line-through;
    /* text-decoration-style: double; */
    text-decoration-color: red;
}

.pointed_text {
    color: white;
    /*font-weight: 900;*/
    background: dodgerblue !important;
}

.fg_red {
    color: red;
}

.fg_lime {
    color: lime;
}

.fg_purple {
    color: darkmagenta;
}

.fg_orange {
    color: orange;
}

.fg_skyblue {
    color: skyblue;
}

.fg_magenta {
    color: magenta;
}

.fg_aqua {
    color: aqua;
}
.fg_darkgreen{
    color: darkgreen;
}
.hide {
    display: none !important;
}
.inner_flex_column_div {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inner_flex_row_div {
    height: 100%;
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    justify-content: center;
}

.flex_child {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 5px;*/
    margin: 3px;
    height: 100%;
    flex: 2;
}

.flex_1 {
    flex: 1 !important;
}

.flex_child img {
    margin: 0 5px;
    max-height: 99px;
}

.title1 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 15px;
    text-align: center;
    line-height: 4rem;
}

.title2 {
    text-align: center;
    font-size: calc(15px + 3vw);
    margin: 65px 0;
}
.img_full_height{
    height: 100%;
}
.img1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.note {
    background: #ffd2d269;
    margin: 30px;
    border-radius: 9px;
    padding: 9px;
    box-shadow: 0 0 10px white;
    border: 1px solid orange;
    font-weight: 600;
    letter-spacing: 1px;
    color: wheat;
}

.bt1{
    box-shadow: 0 0 8px black;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    text-align: center;
    /* width: fit-content; */
    padding: 2px 7px;
    display: flex;
    font-size: calc(1.2vw + 9px);
    justify-content: center;
    align-items: center;
    /* background: url(../img/bt_pattern/texture_stone_51.svg), skyblue; */
    background-image: url(../img/bt_pattern/texture_stone_51.svg);
    background-color: royalblue;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    background-size: cover;
    /* box-shadow: inset 0px 1px 0px 1px #ffffff88, inset 0px -3px 0px 1px #47bbb9, 0px 5px 10px rgba(0, 0, 0, 0.2); */
}

.bt1 img {
    height: 100%;
    max-height: 40px;
    max-width: 40px;
}

.bt1>* {
    margin: 0 5px;
    padding: 3px;
}

.bt_cancel1 {
    background: orange;
    box-shadow: 0 0 14px blue;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 5px;
    padding: 3px;
}

.img_head>* {
    width: 100%;
    max-height: 30vh;
    object-fit: contain;
    margin: 30px auto;
}

.img_middle {
    max-width: 110px;
    max-height: 110px;
}

.screen_text_center {
    text-align: center !important;
    font-weight: 900;
    margin: 0 10px;
}

.screen_center_elem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_logo_wrapper {
    display: flex;
    justify-content: space-between;
}

.screen_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.screen_logo img {
    width: 125px;
    height: 125px;
    object-fit: contain;
}

.screen_center_elem img,
.screen_center_elem canvas {
    padding: 0 15px;
}

.small_br {
    height: 15px;
}

.flow_num {
    display: inline-flex;
    position: relative;
    /*font-size: 80px;*/
    font-size: calc(12vw);
    line-height: .85em;
    /*background: black;*/
    border: 2px solid gray;
    border-radius: 9px;
    min-width: 3rem;
}

.num_value {
    margin: 0 auto;
    padding: 3px 0;
}

.num_sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.num_plus,
.num_minus {
    width: 100%;
    font-size: 50%;
    text-align: center;
    line-height: .85em;
    flex: 1;
    color: transparent;
}

.num_plus:active {
    background: #00000094;
    color: lime;
    text-shadow: 0 0 16px lime;
}

.num_minus:active {
    background: #00000094;
    color: red;
    text-shadow: 0 0 16px red;
}

.simple_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.simple_flex>* {
    min-width: 200px;
}

.simple_flex_child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-height: 75px;
    margin: 15px 0;
}

.simple_flex_child img {
    height: 60px;
    max-height: 100%;
    object-fit: contain;
}

.simple_flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.horizontal_hr {
    height: 1px;
    width: 100%;
    background: gray;
    /*border-radius: 2px;*/
}

.vertical_hr {
    height: 100%;
    width: 1px;
    background: gray;
    /*border-radius: 2px;*/
}



.header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    color: snow;
    /* box-shadow: 0 4px 4px -2px slategray; */
    /* background: #ffffff40; */
    padding: 3px;
    margin: 4px;
    /* border-radius: 9px; */
    border-bottom: 1px solid gray;
}

.header>div {
    height: 100%;
    display: flex;
    align-items: center;
}

#my_name {
    font-size: calc(11px + 1vw);
    /*    font-weight: bold;*/
}

#my_pic {
    border-radius: 100%;
}

.header>div>img {
    max-height: 100%;
    margin: 7px;
    background: #ffffff;
    border-radius: 40px;
}

.main {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: absolute;
    background: url(../img/bg1_blured.jpg) no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*background: #081a2e;*/
    /* background: radial-gradient(#1a00a9, #050031); */
    max-width: 15cm;
    margin: 0 auto;
    /*min-height: 100vh;*/
    width: 100%;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    background: radial-gradient(#2828286e 15%, transparent 16%) 0 0, radial-gradient(#28282880 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #28282830;
    background-size: 16px 16px;
}
/* .wrapper_canvase_background{
    background: radial-gradient(#1a00a9, #050031) !important;
} */
.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 6cm;
}

.bottom {
    background-color: #0e006685;
    border-bottom: 1px solid lightgray;
    backdrop-filter: blur(4px);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(12px);
    width: 100%;
    bottom: 0;
    max-width: 15cm;
    color: white;
    height: 60px;
}

.bottom div {
    height: 100%;
    display: flex;
    flex: 1;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    justify-content: end;
    max-width: calc((100% / 6) - 5px);
    font-size: calc(8px + 1.2vw);
}

.bottom img:not(.big_img) {
    max-height: calc(100% - 25px);
}

.bottom img {
    transition: cubic-bezier(0, 2.28, 0.95, 0.69) 0.5s;
    object-fit: cover;
}

.big_img {
    height: 100%;
    position: absolute;
    bottom: 20px;
    filter: drop-shadow(0 0 11px white);
}


/*custom select option for payment page*/

.select_option_wrapper {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.selected_option {
    border: 1px solid gray;
    border-radius: 9px;
    justify-content: space-between;
    z-index: 1;
    background: darkgreen;
    min-height: 55px;
}

.select_option {
    position: absolute;
    display: none;
    top: 55px;
    /*    display: inline-flex;*/
    flex-direction: column;
    background: #ffffff34;
    border-radius: 9px;
    margin-left: 9px;
    padding: 5px 0;
}

.select_option>div,
.selected_option {
    display: flex;
    align-items: center;
    margin: 3px 0;
    cursor: pointer;
    padding: 10px 15px;
}

.select_option>div img,
.selected_option img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
}

.select_option>div:hover {
    background: #ffffff34;
}

.select_option>div:active {
    background: #a9ff003b;
}

.select_option span,
.selected_option span {
    white-space: nowrap;
    margin: 5px;
}

.selected_option:hover~.select_option {
    display: inline-flex !important;
}

.select_option:hover {
    display: inline-flex !important;
}

/*end custom select option for payment page*/


.choosed {
    border: 2px solid lime;
    background: green !important;
}

.text_input_group {
    position: relative;
    padding: 15px 0 0;
    margin: 20px 10px;
    /*width: 50%;*/
}

.text_input_field {
    font-family: monospace;
    width: 100%;
    border: 0;
    /*    border-bottom: 2px solid #9b9b9b;*/
    border-bottom: 2px solid #ffff00;
    outline: 0;
    font-size: 2rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    letter-spacing: 3px;
}

.text_input_field::placeholder {
    color: transparent;
}

.text_input_field:placeholder-shown~.text_input_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.text_input_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.text_input_field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.text_input_field:focus~.text_input_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.text_input_field:required,
.text_input_field:invalid {
    box-shadow: none;
}

/*end text input style*/

.inline{
    display: inline !important;
}
.highlight{
    background: #efff00c9;
    border: 2px solid darkgray;
    border-radius: 14px;
    padding: 4px 8px;
    display: inline;
    vertical-align: middle;
}
.select_number {
    background: green !important;
    color: white;
}

.void_number_select {
    background: gold !important;
    color: yellow !important;
}
.bg_green{
background-color:green !important ;
}
.bg_red{
background-color:red !important ;
}
.bg_orange{
    background-color:orange !important ;
    }