#friend_wrapper {
    width: 10cm;
    margin: 0 auto;
    padding: 10px;
    min-height: 0;
}

#invite_telegram {
    flex: 2;
    margin: 0 10px;
}

#invite_copy {
    margin: 0 10px;
}

.friend_person {
    display: flex;
    align-items: center;
    color: white;
    background: #1d00ff1f;
    height: 65px;
    margin: 0 auto;
    font-size: 1rem;
    margin: 25px 0;
    box-shadow: 0 0 8px black;
    border-radius: 7px 30px 7px 30px;
}

.friend_person>img {
    object-fit: contain;
    height: 100%;
    border-radius: 7px 0 0 30px;
}

.friend_person>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background: #745aff9c;
    padding: 0 15px;
    border-radius: 0 30px 7px 0;
}

.friend_person>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend_person>div small {
    color: silver;
    font-size: .7rem;
}

.invite_qr_div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.invite_qr_div>canvas {
    padding: 20px;
}

#no_invite_yet img {
    max-height: 1em;
}