


body{
    color:white;
}
.prize_details{
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    /* align-items: start; */
    /* justify-content: center;*/
}
.paint_price{
    width: 100%;
    background: blue;
}
.paint_price td{
    text-align: center;
}

#new_ticket{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#new_ticket>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.add_ticket_div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.add_ticket_check{
    font-size: small;
    display: flex;
    color: darkgray;
}
.add_ticket_check label{
    margin-left: 2px;
}
.new_ticket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.new_ticket small{
    color: gray;
}
.new_ticket>span{
    /* font-weight: 900; */
    font-size: calc(16px + 6vw);
    letter-spacing: 15px;
    border-radius: 12px;
    padding: 5px;
    background: #a9ff0085;
    border: 2px solid lime;

}
.new_ticket>img{
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
}

.half_ticket>span{
    background: #ffa50094;
    border: 2px solid orange;
}
.not_paid_ticket>span{
    background: #ffffff00;
    border: 2px solid white;
}
.ticket_calc{
    padding: 20px;
    margin: 10px 0;
    /*border-top: 1px dashed lightgray;*/
    /*border-bottom: 1px dashed lightgray;*/

}
.ticket_discount_calc{
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}
.ticket_calc>p{
    display: flex;
    align-items: end;
}





.wallet_div{
    display: flex;
    height: 69px;
    /*background: midnightblue;*/
    padding: 5px;
    margin: 4px 6px;
    /*border: 1px solid whitesmoke;*/
    border-radius: 9px;
}
.wallet_div>.bt1{
    flex:1;
    margin: 0 0 0 10px
}
.wallet_div>div {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
.wallet_div img{
    max-height: 40px;
    margin: 0 20px;
}
.most_voted_number,.my_selected_number{
    background: #7b63ffa3;
    letter-spacing: 3px;
    padding: 4px;
    border-radius: 9px;
    color: white;
    margin: 2px 0;
    font-size: 20px;
}
.my_selected_number{
    background: royalblue;

}



.voted_num{
    display: flex;
    /*align-items: center;*/
    justify-content: space-evenly;
}
.voted_num>div{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
    color: silver;
}
.voted_num>div>div{
    display: flex;
    align-items: center;
}
.voted_num>div>div img{
    max-height: 30px;
}







.good_chance{
    background: limegreen !important;
}
.low_chance{
    background: darkred !important;
}
.mid_chance{
    background: cadetblue !important;
}

/*.number_distance_grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     gap: 0px; 
    height: 100%;
    text-align: center;
    background: dimgray;
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
}
.number_distance_grid>*{
    background: #333;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 2px;
}
.distance_item_0,.distance_item_1,.distance_item_2{
    font-size: 11px;
}
.distance_item_4,.distance_item_7,.distance_item_10,.distance_item_13,.distance_item_16,.distance_item_19,.distance_item_22,.distance_item_25{
    background: #181818;
}
.distance_item_27,.distance_item_28{
    font-size: 14px;
    font-weight: 600;
}
.distance_item_0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
}
.distance_item_1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 4;
}
.distance_item_2 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 4;
}
.distance_item_3 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
}
.distance_item_4 {
    grid-row-start: 3;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 5;
}
.distance_item_5 {
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 5;
}
.distance_item_6 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 6;
}
.distance_item_7 {
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 6;
}
.distance_item_8 {
    grid-row-start: 5;
    grid-column-start: 5;
    grid-row-end: 7;
    grid-column-end: 6;
}
.distance_item_9 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
}
.distance_item_10 {
    grid-row-start: 3;
    grid-column-start: 6;
    grid-row-end: 5;
    grid-column-end: 7;
}
.distance_item_11 {
    grid-row-start: 5;
    grid-column-start: 6;
    grid-row-end: 7;
    grid-column-end: 7;
}
.distance_item_12 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-column-end: 8;
}
.distance_item_13 {
    grid-row-start: 3;
    grid-column-start: 7;
    grid-row-end: 5;
    grid-column-end: 8;
}
.distance_item_14 {
    grid-row-start: 5;
    grid-column-start: 7;
    grid-row-end: 7;
    grid-column-end: 8;
}
.distance_item_15 {
    grid-row-start: 1;
    grid-column-start: 8;
    grid-row-end: 3;
    grid-column-end: 9;
}
.distance_item_16 {
    grid-row-start: 3;
    grid-column-start: 8;
    grid-row-end: 5;
    grid-column-end: 9;
}
.distance_item_17 {
    grid-row-start: 5;
    grid-column-start: 8;
    grid-row-end: 7;
    grid-column-end: 9;
}
.distance_item_18 {
    grid-row-start: 1;
    grid-column-start: 9;
    grid-row-end: 3;
    grid-column-end: 10;
}
.distance_item_19 {
    grid-row-start: 3;
    grid-column-start: 9;
    grid-row-end: 5;
    grid-column-end: 10;
}
.distance_item_20 {
    grid-row-start: 5;
    grid-column-start: 9;
    grid-row-end: 7;
    grid-column-end: 10;
}
.distance_item_21 {
    grid-row-start: 1;
    grid-column-start: 10;
    grid-row-end: 3;
    grid-column-end: 11;
}
.distance_item_22 {
    grid-row-start: 3;
    grid-column-start: 10;
    grid-row-end: 5;
    grid-column-end: 11;
}
.distance_item_23 {
    grid-row-start: 5;
    grid-column-start: 10;
    grid-row-end: 7;
    grid-column-end: 11;
}
.distance_item_24 {
    grid-row-start: 1;
    grid-column-start: 11;
    grid-row-end: 3;
    grid-column-end: 12;
}
.distance_item_25 {
    grid-row-start: 3;
    grid-column-start: 11;
    grid-row-end: 5;
    grid-column-end: 12;
}
.distance_item_26 {
    grid-row-start: 5;
    grid-column-start: 11;
    grid-row-end: 7;
    grid-column-end: 12;
}
.distance_item_27 {
    grid-row-start: 1;
    grid-column-start: 12;
    grid-row-end: 4;
    grid-column-end: 15;
}
.distance_item_28 {
    grid-row-start: 4;
    grid-column-start: 12;
    grid-row-end: 7;
    grid-column-end: 15;
}*/








.winresult_grid {
    display: grid;
    /*grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    gap: 0px;
    /*height: 100%;*/
    text-align: center;
    background: #0008ff;
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
}
.winresult_grid>*{
    background: #7b63ffa3;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 4px;
    /* padding: 2px;*/
}
.winresult_0 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.winresult_1 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.winresult_2 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}
.winresult_3 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}
.winresult_4 {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
}
.winresult_5 {
    grid-row: 1 / 2;
    grid-column: 7 / 8;
}
.winresult_6 {
    grid-row: 1 / 2;
    grid-column: 8 / 9;
}
.winresult_7 {
    grid-row: 1 / 2;
    grid-column: 9 / 10;
}
.winresult_8 {
    grid-row: 1 / 2;
    grid-column: 10 / 11;
}
.winresult_9 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
.winresult_10 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.winresult_11 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
.winresult_12 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}
.winresult_13 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}
.winresult_14 {
    grid-row: 2 / 3;
    grid-column: 7 / 8;
}
.winresult_15 {
    grid-row: 2 / 3;
    grid-column: 8 / 9;
}
.winresult_16 {
    grid-row: 2 / 3;
    grid-column: 9 / 10;
}
.winresult_17 {
    grid-row: 2 / 3;
    grid-column: 10 / 11;
}
.winresult_18 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.winresult_19 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.winresult_20 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}
.winresult_21 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}
.winresult_22 {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
}
.winresult_23 {
    grid-row: 3 / 4;
    grid-column: 7 / 8;
}
.winresult_24 {
    grid-row: 3 / 4;
    grid-column: 8 / 9;
}
.winresult_25 {
    grid-row: 3 / 4;
    grid-column: 9 / 10;
}
.winresult_26 {
    grid-row: 3 / 4;
    grid-column: 10 / 11;
}
.winresult_27 {
    grid-row: 4 / 5;
    grid-column: 1 / 11;
}
.winresult_28 {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
}
.winresult_29 {
    grid-row: 5 / 6;
    grid-column: 4 / 11;
}
.winresult_30 {
    grid-row: 6 / 7;
    grid-column: 1 / 4;
}
.winresult_31 {
    grid-row: 6 / 7;
    grid-column: 4 / 11;
}









.winner_statistics {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 100%;
    text-align: center;
    /*background: dimgray;*/
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
    font-size: 20px;
}
.winner_statistics img{
    max-height: 50px;
    max-width: 50px;
    margin-right: 15px;
    padding: 0px 0 3px 0;
    margin-left: 20px;
}
.winner_statistics .grid_v>span{
    margin-left: 9px;
    flex: 1;
}
.winner_statistics>*{
    /*background: #333;*/
    background: #7b63ffa3;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    /*padding: 2px;*/
}
.winner_num{
    letter-spacing: 5px;
    margin-right: 15px;
}
.winner_qty{
    /*color: springgreen;*/
    color:#e9e9e9;
    font-size: 13px;
    background: dimgray;
    padding: 2px 4px;
    border-radius: 5px;
}
.winner_item_0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    /*background: #004100;*/
}
.winner_item_1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    /*background: #004100;*/
    justify-content: space-between;
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0 0 11px lime;
    color: lime;
}
.winner_item_2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    /*background: #045104;*/
}
.winner_item_3 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    /*background: #045104;*/
    justify-content: space-between;
    /*font-weight: 600;*/
    color: lawngreen;
}
.winner_item_4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    /*background: #065d06;*/
}
.winner_item_5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    /*background: #065d06;*/
    justify-content: space-between;
    font-size: 19px;
}
.winner_item_6 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    /*background: #006b00;*/
}
.winner_item_7 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    /*background: #006b00;*/
    justify-content: space-between;
    font-size: 18px;
}
.winner_item_8 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
    /*background: #007500;*/
}
.winner_item_9 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    /*background: #007500;*/
    justify-content: space-between;
    font-size: 17px;
}
.winner_item_10 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
    /*background: #038303;*/
}
.winner_item_11 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
    /*background: #038303;*/
    justify-content: space-between;
    font-size: 16px;
}
.winner_item_12 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
    /*background: #098d09;*/
}
.winner_item_13 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-row-end: 8;
    grid-column-end: 3;
    /*background: #098d09;*/
    justify-content: space-between;
    font-size: 15px;
}









.prize_list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    height: 100%;
    text-align: center;
    /*background: dimgray;*/
    padding: 2px;
    border-radius: 5px;
    margin: 3px;
    font-size: 20px;
}
.prize_list img{
    max-height: 70px;
    max-width: 70px;
    height: 100%;
    /*margin-right: 15px;*/
    padding: 0px 0 3px 0;
    margin-left: 20px;
}
.prize_list .grid_v>span{
    margin-left: 9px;
    flex: 1;
}
.prize_list>*{
    /*background: #333;*/
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 3px;*/
    /*padding: 2px;*/
    /*border-bottom: 1px solid dimgray;*/
    background: #7b63ffa3;
    border-radius: 8px;
    padding: 1px 3px;
}
.prize_num{
    /*letter-spacing: 5px;*/
    /*margin-right: 15px;*/
}
.prize_qty{
    /*color: springgreen;*/
    color:#c1c1c1;
    font-size: 17px;
    background: dimgray;
    padding: 2px 4px;
    border-radius: 5px;
}
.prize_item_0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    /*background: #004100;*/
    justify-content: space-between;
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0 0 11px lime;
    color: lime;
}
.prize_item_1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    /*background: #004100;*/
    font-size: 17px;
}
.prize_item_2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    /*background: #045104;*/
    justify-content: space-between;
    color: lawngreen;
    /*font-size: 20px;*/
}
.prize_item_3 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    /*background: #045104;*/
    font-size: 17px;
}
.prize_item_4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    /*background: #065d06;*/
    justify-content: space-between;
    font-size: 19px;
}
.prize_item_5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    /*background: #065d06;*/
    font-size: 16px;
}
.prize_item_6 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    /*background: #006b00;*/
    justify-content: space-between;
    font-size: 18px;
}
.prize_item_7 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    /*background: #006b00;*/
    font-size: 15px;
}
.prize_item_8 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
    /*background: #007500;*/
    justify-content: space-between;
    font-size: 17px;
}
.prize_item_9 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    /*background: #007500;*/
    font-size: 14px;
}
.prize_item_10 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
    /*background: #038303;*/
    justify-content: space-between;
    font-size: 16px;
}
.prize_item_11 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
    /*background: #038303;*/
    font-size: 13px;
}
.prize_item_12 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
    /*background: #098d09;*/
    font-size: 15px;
    justify-content: space-between;
}
.prize_item_13 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-row-end: 8;
    grid-column-end: 3;
    /*background: #098d09;*/

    font-size: 13px;
}



/*text writing effect*/


.reveal_anim_main {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.reveal_anim_main:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
    animation: showup 7s infinite;
}

.reveal_anim_main:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

.reveal_anim_main:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}


@keyframes showup {
    0% {
        opacity:0;
    }
    20% {
        opacity:1;
    }
    80% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@keyframes slidein {
    0% {
        margin-left:-800px;
    }
    20% {
        margin-left:-800px;
    }
    35% {
        margin-left:0px;
    }
    100% {
        margin-left:0px;
    }
}

@keyframes reveal {
    0% {
        opacity:0;
        width:0px;
    }
    20% {
        opacity:1;
        width:0px;
    }
    30% {
        width:355px;
    }
    80% {
        opacity:1;
    }
    100% {
        opacity:0;
        width:355px;
    }
}
/*end text writing effect*/

/*text shadow anim*/
.text_shadow_anim_container {
    /*position: absolute;*/
    /*margin: auto;*/
    /*width: 100vw;*/
    /*height: 80pt;*/
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

.text_shadow_anim_text1,
.text_shadow_anim_text2 {
    position: absolute;
    width: calc(100% - 40px);
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 23px;

    text-align: center;

    user-select: none;
    border: 2px solid gray;
    margin: 0 20px;
    border-radius: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*end text shadow anim*/

/*text writing*/
/*@import url(https://fonts.googleapis.com/css?family=Khula:700);*/
body {
    background: #111;
}
.text_writing_hidden {
    opacity:0;
}
.console-container {

    font-family:Khula;
    font-size:2em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
/*end text writing*/